<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="ExecutionVisualizer {{#show_controls}}ExecutionVisualizerActive{{/show_controls}} {{^show_controls}}ExecutionVisualizerInactive{{/show_controls}}">
    <div class="vizLayoutTd" id="vizLayoutTdSecond">
    <div id="dataViz">
        <table id="stackHeapTable">
          <tbody><tr>
            <td id="stack_td">
              <div id="globals_area">
                <div id="stackHeader">Frames</div>
                {{#frame}}
                  <div class="stackFrame removable" id="frame-{{frameIndex}}">
                    {{#return}}
                    <button class="btn removeButton" type="button" {{^show_controls}}disabled{{/show_controls}}></button>
                    <label class="frameHeader">f{{frameIndex}}: </label><input class="frameHeader varLengthInput pl-html-input" id="frame-{{frameIndex}}-name" name="frame-{{frameIndex}}-name" value="{{name}}" {{^show_controls}}disabled{{/show_controls}}>
                    <label> [Parent = <input class="frameParentHeader varLengthInput pl-html-input" id="frame-{{frameIndex}}-parent" name="frame-{{frameIndex}}-parent" value="{{parent}}" {{^show_controls}}disabled{{/show_controls}}>]</label>
                    {{/return}}
                    {{^return}}
                    <label class="frameHeader">Global frame</label>
                    {{/return}}
                    <table class="stackFrameVarTable">
                    {{#var}}
                      <tr class="variableTr removable" id="frame-{{frameIndex}}-var-{{varIndex}}">
                        <td class=""><button class="btn removeButton" type="button" {{^show_controls}}disabled{{/show_controls}}></button></td><td class="stackFrameVar"><input class="stackFrameVarInput varLengthInput pl-html-input" id="frame-{{frameIndex}}-var-{{varIndex}}-name" name="frame-{{frameIndex}}-var-{{varIndex}}-name" value="{{name}}" {{^show_controls}}disabled{{/show_controls}}></td>
                        <td class="stackFrameValue">
                          <div class="valueContainer">
                            <input class="stackFrameValueInput varLengthInput pl-html-input" id="frame-{{frameIndex}}-var-{{varIndex}}-val" name="frame-{{frameIndex}}-var-{{varIndex}}-val" value="{{val}}" {{^show_controls}}disabled{{/show_controls}}>
                            <button class="btn pointerValueButton" type="button" {{^show_controls}}disabled{{/show_controls}}></button>
                          </div>
                        </td>
                      </tr>
                    {{/var}}
                    {{#return}}
                    <tr class="variableTr returnValueTr">
                    <td class=""></td>
                    <td class="stackFrameVar"><span>Return Value</span></td>
                    <td class="stackFrameValue">
                      <div class="valueContainer">
                        <input class="stackFrameValueInput varLengthInput pl-html-input" id="frame-{{frameIndex}}-return-val" name="frame-{{frameIndex}}-return-val" value="{{val}}" {{^show_controls}}disabled{{/show_controls}}>
                        <button class="btn pointerValueButton" type="button" {{^show_controls}}disabled{{/show_controls}}></button>
                      </div>
                    </td>
                    {{/return}}
                    </tr></table><button class="btn addVarButton" type="button" {{^show_controls}}disabled{{/show_controls}}>Add Variable</button></div>
                {{/frame}}
            </div>
            <button type="button" class="btn" id="addFrameButton" {{^show_controls}}disabled{{/show_controls}}>Add Frame</button>
            </td>
            <td id="heap_td">
              <div id="heap">
                <div id="heapHeader">Objects</div>
                {{#heap}}
                  {{#func}}
                    <div class="topLevelHeapObject removable" id="heap-func-{{funcIndex}}">
                      <div class="heapObject">
                        <div class="typeLabel">function</div>
                        <div class="funcObj">
                          func 
                          <input class="funcNameInput varLengthInput pl-html-input" id="heap-func-{{funcIndex}}-name" name="heap-func-{{funcIndex}}-name" value="{{name}}" {{^show_controls}}disabled{{/show_controls}}>
                          <span> [Parent = <input class="frameParentHeader varLengthInput pl-html-input" id="heap-func-{{funcIndex}}-parent" name="heap-func-{{funcIndex}}-parent" value="{{parent}}" {{^show_controls}}disabled{{/show_controls}}>]</span>
                        </div>
                      </div>
                      <button class="btn removeButton" type="button"></button></div>
                  {{/func}}
                {{/heap}}
            </div>
            <button type="button" class="btn" id="addFuncButton" {{^show_controls}}disabled{{/show_controls}}>Add function</button>
            <button type="button" class="btn" id="addListButton" {{^show_controls}}disabled{{/show_controls}}>Add list</button>
            </td>
        </tr>
        </tbody></table>
      </div>
      {{#pointer}}
        <div class="pointerArrow pointerTo-{{destination}}" id="pointer-{{origin}}">
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="0" height="0" viewBox="0 0 0 0" style="top: 0; left: 0"><path d=""></path></svg>
        </div>
      {{/pointer}}
      </div>
      </div>
<p>This tool is based on Python Tutor: <a href="https://pythontutor.com/">pythontutor.com</a></p>
</body>
</html> 